.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 12px;
  z-index: 998;

  &-content {
    flex: 1;
    padding: 12px;
  }

  &-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    &__btn {
      width: 100%;
      height: 50px;
      font-size: 22px;
      border: none;
      background: rgba(255, 222, 33, 0.6);
      cursor: pointer;
      transition: all .2s ease;
      border-radius: 12px;
      outline: none !important;

      &:hover {
        background: rgba(255, 222, 33, 1) !important;
      }
    }
  }

  &-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 600;
  }
}